.list-group-item {
  line-height: 2.5;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: 'quicksand', sans-serif;

}
#home {
  background: url(ropes.jpg) no-repeat 50%,50%;
  display: table;
  height: 100%;
  width: 100%;
  background-size: cover;
  

}

#welcome-h1 {
  margin-top: 15%;
  text-align: center;
  color: white;
  font-family: 'Londrina Outline', cursive;
  font-size: 600%;
  text-size-adjust: auto;
  animation-duration: 5s;
  animation-delay: 0.3s;
  
}

.welcome-card {
  text-align: center;
  color: white;
  
}

.query-button {
  text-align: center;
 
}

#measurements-main {
  color: white;
}

/* #user-join-submit = submit button on main page where user submits name */
/* #submit-measurements = submit button on measurements page */
