.list-group-item {
  line-height: 2.5;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: 'quicksand', sans-serif;

}
#home {
  background: url(ropes.jpg) no-repeat 50%,50%;
  display: table;
  height: 100%;
  width: 100%;
  background-size: cover;
  

}

#welcome-h1 {
  margin-top: 15%;
  text-align: center;
  color: white;
  font-family: 'Permanent Marker', sans-serif;
  font-size: 400%;
  text-size-adjust: auto;
  
}

.welcome-card {
  text-align: center;
  color: white;
  
}

h1  {
  animation-duration: 5s;
  animation-delay: 0.3s;

  /* animation-iteration-count: infinite; */
}

/* #user-join-submit = submit button on main page where user submits name */
/* #submit-measurements = submit button on measurements page */
