.list-group-item {
  line-height: 2.5;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: 'quicksand', sans-serif;

}
#home {
  background: url(gym.jpg) no-repeat 50%,50%;
  display: table;
  height: 100%;
  width: 100%;
  background-size: cover;

}

#welcome-h1 {
  margin-top: 15%;
  text-align: center;
  color: whitesmoke;
  font-family: 'Press+Start+2P', sans-serif;
}