.list-group-item {
  line-height: 2.5;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: 'quicksand', sans-serif;

}
#home {
  background: url(weights.jpg) no-repeat 50%,50%;
  display: table;
  height: 100%;
  width: 100%;
  background-size: cover;

}

#welcome-h1 {
  margin-top: 15%;
  text-align: center;
  color: white;
  font-family: 'Permanent Marker', sans-serif;
  font-size: 400%;
  text-size-adjust: auto;
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 26%, rgba(137,139,140,1) 69%, rgba(254,254,254,1) 100%);
  border: 10%;
}

.welcome-card {
  text-align: center;
}